<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        /* header{
            width: 100%;
            height: 400px;
            background-image: url("http://www.bestwesternplusmeridian.com/Content/images/Queen-Room-o.jpg");
        } */

        img {
            background-size: cover;
        }
        .card-title{
            margin-top: 180px;
            margin-left: 30px;
            font-size: 60px;
            font-family: 'Times New Roman', Times, serif;
            
        }
        .card{
            border-radius: 20px;
        }
        .card:hover{
            
            transition: 2s;
        }
        .card img{
            border-radius: 20px;
        }
        .card img:hover{
            opacity: 0.6;
            background-color: white;
           
        }h1{
            text-align: center;
            margin-top: 80px;
            text-decoration: underline;
        }
        #icon{
       color: blue;
       font-size: 40px;
  }
  .card{
    border: radius 20px; 
    border: none !important;
  }
    </style>
</head>
<body>
   
  

    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top  bg-lightgrey bg-white">
          <div class="container-fluid">
            <a class="navbar-brand" href="#" id="Hname">Coding-Tech</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto me-5">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
               
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/room">Rooms</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">facilities</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    
      </header>
    


      <div class="card bg-dark text-white">
        <img src="https://berkeleypratunam.com/wp-content/uploads/2019/08/pools-fac-01.jpg" class="card-img" alt="..." height="500px">
        <div class="card-img-overlay">
          <h5 class="card-title">Facilities</h5>
          <p class="card-text">Find a Perfect Family Budget Hotel in The Near of San Francisco Shoreline</p>
          <p class="card-text">Find a Perfect Family Budget Hotel in hyderbad</p>
        </div>
      </div>


 <h1>facilities</h1>
<br><br><br><br>



<div class="container">
    <div class="row">
    
     <div class="col-sm-6 col-md-3 col-6 mt-3">
       
       <div class="card" style="width: 10rem;">
         <div class="card-body">
           <i class="fa-solid fa-wifi " id="icon"></i><br>
           <h3 class="card-subtitle mb-2 text-muted">wi fi</h3>
           <P>Magna sagittis faucibus mauris, sit enim varius sem ultricies sed netus tortor tortor fusce</P>
           
         </div>
       </div>
     
     </div>
 
 
     <div class="col-sm-6 col-md-3 col-6 mt-3">
       <div class="card" style="width: 10rem;">
         <div class="card-body">
           <i class="fa-solid fa-square-parking" id="icon"></i>
           <h5 class="card-subtitle mb-2 text-muted">free parking</h4>
            <P>Magna sagittis faucibus mauris, sit enim varius sem ultricies sed netus tortor tortor fusce</P>
         </div>
       </div>
     </div>
     <div class="col-sm-6 col-md-3 col-6 mt-3">
       <div class="card" style="width: 10rem;">
         <div class="card-body">
            <i class="fa-solid fa-joint" id="icon"></i>
           <h5 class="card-subtitle mb-2 text-muted">Smoke-Free</h5>
           <P>Magna sagittis faucibus mauris, sit enim varius sem ultricies sed netus tortor tortor fusce</P>
         </div>
       </div>
     </div>
     <div class="col-sm-6 col-md-3 col-6 mt-3">
       <div class="card" style="width: 10rem;">
         <div class="card-body">
            <i class="fa-solid fa-dog" id="icon"></i>
            <h5 class="card-subtitle mb-2 text-muted">Pet Friendly</h5>
            <P>Magna sagittis faucibus mauris, sit enim varius sem ultricies sed netus tortor tortor fusce</P>
         </div>
       </div>
     </div>
 
 
     <div class="col-sm-6 col-md-3 col-6 mt-3">
       <div class="card" style="width: 10rem;">
         <div class="card-body">
            <i class="fa-solid fa-mug-saucer" id="icon"></i>
            <h5 class="card-subtitle mb-2 text-muted">FreeBreakfast</h5>
            <P>Magna sagittis faucibus mauris, sit enim varius sem ultricies sed netus tortor tortor fusce</P>
         </div>
       </div>
     </div>
 
     <div class="col-sm-6 col-md-3 col-6 mt-3">
       <div class="card" style="width: 10rem;">
         <div class="card-body">
            <i class="fa-solid fa-bicycle" id="icon"></i>
            <h5 class="card-subtitle mb-2 text-muted">Fitness Center</h5>
            <P>Magna sagittis faucibus mauris, sit enim varius sem ultricies sed netus tortor tortor fusce</P>
         </div>
       </div>
     </div>
 
     <div class="col-sm-6 col-md-3 col-6 mt-3">
       <div class="card" style="width: 10rem;">
         <div class="card-body">
            <i class="fa-solid fa-tv" id="icon"></i>
           <h5 class="card-subtitle mb-2 text-muted">Plasma TV</h5>
            <P>Magna sagittis faucibus mauris, sit enim varius sem ultricies sed netus tortor tortor fusce</P>
         </div>
       </div>
     </div>
 
     <div class="col-sm-6 col-md-3 col-6 mt-3">
       <div class="card" style="width: 10rem;">
         <div class="card-body">
            <i class="fa-solid fa-newspaper" id="icon"></i>
            <h5 class="card-subtitle mb-2 text-muted">Weekday Newspaper</h5>
            <P>Magna sagittis faucibus mauris, sit enim varius sem ultricies sed netus tortor tortor fusce</P>
         </div>
       </div>
     </div>
    </div>
   </div>
 

<br?<br><br><br><br><br><br>




  <%- include("include/footer.ejs") %>


        <!-- javascript file -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
  crossorigin="anonymous"></script>

</body>
</html>